#imageScrollContainer .MuiImageListItem-root {
	border-radius: 18px;
	overflow: hidden;
}

@media screen and (max-width: 640px) {
	#imageScrollContainer .MuiImageList-root {
		row-gap: 24px !important;
	}

	#imageScrollContainer .MuiImageListItem-root {
		margin-bottom: 4px;
	}
}

#imageScrollContainer .mobile-drink-card {
	height: 100%;
}
