.spirit-tab {
	height: 100%;
	width: 12.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid #000;
	border-top: 5px solid #000;
	border-right: 1px solid #c4c3c0;
	background-color: #000;
	color: #fff;
}

.spirit-tab:hover {
	cursor: pointer;
	border-bottom: 5px solid #aaabb8;
}

.spirit-tab-active {
	border-bottom: 5px solid #07f2ea;
}

.spirit-tab:nth-child(8) {
	border-right: none;
}
