.letter-list-item {
	color: white;
	font-size: 17px;
}

.letter-list-item:hover {
	cursor: pointer;
	color: #07f2ea;
}

.letter-active {
	color: #07f2ea;
	text-decoration: underline;
}

.alphabetPickerDropdownContainer {
	/* background-color: pink; */
	height: auto;
	padding: 5px;
}

.alphabetPickerContainer {
	/* background-color: #000; */
	height: 25px;
}

.alphabetPickerContainer ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
