.search-input-container {
	height: 40px;
	display: flex;
}

.search-input-container input {
	height: 100%;
	width: 250px;
	opacity: 0.9;
	border: none;
	outline: none;
	background-color: inherit;
	color: #ececec;
	font-size: 14px;
}

.search-input-container input:focus {
	border-bottom: 1px solid #ececec;
}

.search-input-container button {
	width: 50px;
	background-color: inherit;
	border: none;
	outline-color: #aaabb8;
	color: #ececec;
}

.search-input-container button:hover {
	cursor: pointer;
	background-color: #ececec;
	color: black;
}

.search-input-container button:disabled {
	cursor: not-allowed;
	background-color: inherit;
	color: #ececec;
}
