.search-input-container {
	height: 40px;
	display: flex;
}

.search-input-container input {
	height: 100%;
	width: 250px;
	opacity: 0.9;
	border: 1px solid #ececec;
	outline-color: #aaabb8;
	outline-width: 1px;
	background-color: inherit;
	color: white;
	font-size: 14px;
}

.search-input-container button {
	width: 50px;
	background-color: inherit;
	border: 1px inset #ececec;
	outline-color: #aaabb8;
}

.search-input-container button:hover {
	cursor: pointer;
	background-color: #ececec;
}

.search-input-container button:disabled {
	cursor: not-allowed;
	background-color: inherit;
}
