.drinkPageMainContainer {
	height: 100%;
}

.drinkPageImage {
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.drinkPageHalf {
	width: 50%;
}

.drinkPageFull {
	width: 100%
}

.drinkPageDrinkDetails {
	height: 100%;
	overflow-y: scroll;
	padding: 0px 25px;
}

.drinkPageDrinkTitle {
	margin: 5px 0px 20px 0px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.drinkDetailHeader {
	display: flex;
}

.drinkDetailHeaderLabel {
	width: 50%;
	margin: 0;
	font-size: 20px;
	color: #fff;
}

.drinkDetailHeaderValue {
	width: 50%;
	margin: 0;
	color: #fff;
	text-align: right;
	font-size: 20px;
}

.drinkPageDrinkTagsContainer {
	text-align: center;
	margin: 30px 0px;
}

.drinkPageIngredientsHeader,
.drinkPageInstructionsHeader {
	color: #fff;
	margin: 20px 0px 20px 0px;
	border-bottom: 1px solid #fff;
	text-align: center;
	padding-bottom: 10px;
}

.drinkPageIngredientsContainer {
	height: auto;
	padding: 20px 0px 0px 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.drinksPageIngredientCard {
	margin: 0px 0px 20px 0px;
	position: relative;
}

.drinksPageIngredientCardFull {
	height: 200px;
	width: 200px;
}

.drinksPageIngredientCardMobile {
	height: 140px;
	width: 140px;
}

.drinksPageIngredientImage {
	height: 100%;
}

.drinksPageIngredientsCardTextContainer {
	display: flex;
	color: #fff;
	flex-direction: column;
	position: absolute;
	top: 0px;
	border-radius: 20px;
	padding: 5px 10px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.125);
	filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
}

.drinkPageInstructionsText {
	color: #fff;
	margin: 10px 0px 25px 0px;
	padding: 0px 0px 30px;
}

.mobileDrinkPageTitleContainer {
	height: auto;
	width: 100%;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.9) 0%,
		rgba(10, 10, 10, 0.6) 50%,
		rgba(20, 20, 20, 0.01) 100%
	);
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 0;
}

.mobileDrinkPageTitleContainer h1 {
	margin: 0 0 0 20px;
	font-size: 2.5em;
	color: #fff;
	padding: 10px;
}

.mobileDrinkPageIngredientsContainer {
	background-color: #000;
	height: auto;
}

.mobileDrinkPageBubbleTextContainer {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	padding: 20px 0px;
}

.mobileIngredientBubble {
	width: 90%;
	height: 90%;
	height: 70px;
	display: flex;
	border-radius: 25px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.125);
	filter: drop-shadow(0 6px 8px rgba(80, 80, 80, 10.125));
	padding: 10px 0;
}

.mobileIngredientBubbleSection {
	width: 34.333333333333333%;
	height: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mobileIngredientBubbleSection p {
	text-align: center;
	margin: 0;
	height: 50%;
}

.bubbleTitle {
	font-size: 11px;
	padding: 2px;
	color:darkgrey;
}

.bubbleText {
	font-size: 11px;
	color:aqua;
}

.mobileDrinkPageIngredientsHeader {
	font-size: 1.5em;
	color: white;
	margin: 0 0 0 20px;
	padding: 8px 6px;
}

.mobileDrinkPageIngredientsListContainer {
	padding: 10px 20px;
}

.mobileDrinkPageIngredientCard {
	width: 100%;
	height: 70px;
	display: inline-block;
	margin-bottom: 5px;
	display: flex;

	border-radius: 12px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.125);
	filter: drop-shadow(0 6px 8px rgba(80, 80, 80, 10.125));
	padding: 10px;
}

.mobileDrinkPageIngredientImgContainer {
	width: 20%;
	height: 100%;
}

.mobileDrinkPageIngredientImgContainer img {
	height: 100%;
	width: 100%;
}

.mobileDrinkPageIngredientTextContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0px 10px;
	border-left: 1px solid darkgray;
}

.mobileDrinkPageIngredientTextContainer p {
	color: white;
	margin: 0;
	font-size: 12px;
	width: 95%;
}

.mobileDrinkPageInstructionsText {
	color: white;
	padding: 5px 20px 15px 20px;
	margin: 0;
	font-size: 1em;
}
