.btn_loginFromDrinkCard {
	background-color: black;
	height: 40px;
	border: none;
	color: #ececec;
	font-size: 1em;
	padding: 5px;
}

.btn_loginFromDrinkCard:hover {
	cursor: pointer;
	background-color: #ececec;
	color: black;
}
