#largeViewSearchResultsText {
	display: none;
}

@media (min-width: 768px) {
	#largeViewSearchResultsText {
		display: block;
	}
}

.visible {
	display: block;
}

.nav_menu_close_icon {
	cursor: pointer;
}
