.btn_disabled:disabled {
	cursor: not-allowed !important;
	pointer-events: all !important;
}

.mobileDrinkCardImage {
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	position: relative;
}

.mobileDrinkCardInner {
	width: 100%;
	height: auto;
	display: flex;
	padding: 10px;
	opacity: 0.7;
	background-color: #000;
	color: #fff;
	flex-direction: column;
}

.mobileDrinkCardDetailsContainer {
	overflow-y: scroll;
	max-height: 300px;
}

.mobileDrinkCardInner h1,
.mobileDrinkCardInner h2 {
	margin: 0;
}

.mobileDrinkCardIngredientsHeader,
.mobileDrinkCardInstructionsHeader {
	margin: 5px 0px 0px 0px;
}

.mobileDrinkCardInstructionsText {
	margin: 0;
}

.mobileDrinkCardActionBtnsContainer {
	height: 100px;
	background-color: #000;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0px 5px 0px 5px;
	display: flex;
	justify-content: space-evenly;
}

.mobileDrinkCardActionBtnsContainer button {
	max-width: 50px !important;
	min-width: 50px;
	padding: 0;
}
