#drinkCardTitle {
	font-size: 36px;
}

.drinkCardSecondaryTitle {
	font-size: 20px !important;
}

.drinkCardDescText {
	font-size: 14px !important;
}

@media screen and (min-width: 1024px) {
	#drinkCardTitle {
		font-size: 40px;
	}

	.drinkCardSecondaryTitle {
		font-size: 24px !important;
	}

	.drinkCardDescText {
		font-size: 18px !important;
	}
}

/* @media screen and (min-width: 1280px) {
	#drinkCardTitle {
		font-size: 44px;
	}

	.drinkCardSecondaryTitle {
		font-size: 24px !important;
	}

	.drinkCardDescText {
		font-size: 18px !important;
	}
} */

@media screen and (min-width: 1536px) {
	#drinkCardTitle {
		font-size: 44px;
	}

	.drinkCardSecondaryTitle {
		font-size: 28px !important;
	}

	.drinkCardDescText {
		font-size: 20px !important;
	}
}

@media screen and (min-width: 1850px) {
	#drinkCardTitle {
		font-size: 54px;
	}

	.drinkCardSecondaryTitle {
		font-size: 38px !important;
	}

	.drinkCardDescText {
		font-size: 24px !important;
	}
}

.btn_disabled:disabled {
	cursor: not-allowed !important;
	pointer-events: all !important;
}
