.drinkPageMainContainer {
	height: 100%;
}

.drinkPageMainContainerHeader {
	height: 600px;
	background-color: #000;
	display: flex;
}

@media screen and (min-width: 2000px) {
	.drinkPageMainContainerHeader {
		height: 800px;
	}
}

.drinkPageHeaderDetailsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.drinkPageHeaderDetailsContainer h1 {
	font-size: 4em;
	margin: 0 0 20px 0;
	padding-left: 10px;
	color: #fff;
	text-align: center;
}

.drinkPageImageContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mainPageBubble {
	width: 100%;
	display: flex;
	padding: 10px 0;
	margin-bottom: 20px;
}

.largeIngredientBubbleSection {
	width: 34.333333333333333%;
	height: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.largeIngredientBubbleSection p {
	text-align: center;
	margin: 0;
	height: 50%;
	width: 95%;
}

.largeViewBubbleTitle {
	font-size: 16px;
	padding: 2px;
	color: darkgrey;
}

.largeViewBubbleText {
	font-size: 18px;
	color: aqua;
}

.drinkPageDrinkDetails {
	height: 100%;
	overflow-y: scroll;
	padding: 0px 25px;
}

.drinkPageDrinkTitle {
	margin: 5px 0px 20px 0px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.drinkDetailHeader {
	display: flex;
}

.drinkDetailHeaderLabel {
	width: 50%;
	margin: 0;
	font-size: 20px;
	color: #fff;
}

.drinkDetailHeaderValue {
	width: 50%;
	margin: 0;
	color: #fff;
	text-align: right;
	font-size: 20px;
}

.drinkPageDrinkTagsContainer {
	text-align: center;
	margin: 30px 0px;
}

.drinkPageIngredientsHeader,
.drinkPageInstructionsHeader {
	color: #fff;
	margin: 20px 0px 20px 0px;
	border-bottom: 1px solid #fff;
	text-align: center;
	padding-bottom: 10px;
}

.drinkPageIngredientsContainer {
	height: auto;
	padding: 20px 0px 0px 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.drinksPageIngredientCard {
	margin: 0px 0px 20px 0px;
	position: relative;
}

.drinksPageIngredientCardFull {
	height: 200px;
	width: 200px;
}

.drinksPageIngredientCardMobile {
	height: 140px;
	width: 140px;
}

.drinksPageIngredientImage {
	height: 100%;
}

.drinksPageIngredientsCardTextContainer {
	display: flex;
	color: #fff;
	flex-direction: column;
	position: absolute;
	top: 0px;
	border-radius: 20px;
	padding: 5px 10px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.125);
	filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
}

.drinkPageInstructionsText {
	color: #fff;
	margin: 10px 0px 25px 0px;
	padding: 0px 0px 30px;
}
